@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'maplibre-gl/dist/maplibre-gl.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--mui-typography-fontFamily, 'Inter', sans-serif);
  background-color: var(--mui-palette-background-default, #f9f9ff);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
